   .titel {
    color: blue;
    font-size: 32px;
    font-weight: bold;
}
.artiest {
    color: red;
    font-style: italic;
}
 
 table {
                border-collapse: collapse;
            
            }

    td, th {
                border: 3px solid #050505;

            }

    
         
        
